<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to 'Timesheets' 'index' class="navbar-brand"}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{link-to 'Timer' 'index'}}</li>
        <li>{{link-to 'Reports' 'index'}}</li>
        <li>{{link-to 'Projects' 'projects'}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
      </ul>
      {{! display logout button when a session is authenticated, login button otherwise }}
      {{#if session.isAuthenticated}}
        <a {{ action 'logout' }} class="btn btn-danger navbar-btn navbar-right">Logout</a>
      {{else}}
        <a {{ action 'login' }} class="btn btn-success navbar-btn navbar-right">Login</a>
      {{/if}}
    </div>
  </div>
</div>
